// COLORS


@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

$blue: #533687 ;


  .search {
    flex: 1 1 auto;
    order: 2;
    outline: none;
    border: none;
    border-radius: 0;
    background: #fff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    transition: all 0.05s ease-in-out;
    -webkit-appearance: none;
    &:focus {
      height: 80px;
      margin-left: -15px;
      padding: 10px 15px;
      + .go {
        height: 80px;
        margin-right: -15px;
        max-width: 80px; // Prevent icon from moving
        color: $blue;
        + a.logo {
          visibility: hidden;
          opacity: 0;
          max-width: 0px;
          margin-right: 0;
        }
      }
    }
  }

  .go {
    flex: 1 1 auto;
    order: 3;
    max-width: 50px;
    display: inline-block;
    border: none;
    background: #fff;
    color: #ccc;
    height: 50px;
    transition: all 0.05s ease-in-out;
    font-size: 21px;
    outline: none;
  }


// end
$main-bg-color: white;
$text-color: #7A7A7A;
$accent-color: rgb(0, 150, 136);
$warning-color: #E75753;


// VARIABLES
$left-sidenav-width: 100px;
$widget-height: 310px;
$font-weight-bold: 600;
$font-size-large: 22px;


// LAYOUT
body {
  color: $text-color;
}
.popover {
  position: absolute;
  z-index: 10;
}

.mySpinner {
  position: absolute;
  z-index: 100;
}
.profiletab{
  background-image: url('/assets/images/envCar_Foto06.jpg');
  background-size: cover;
  position:relative;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #8CBF3F;
}
.profiletab2{
  background-image: url('/assets/images/envCar_Foto02.jpg');
  background-size: cover;
  position:relative;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #B9D989;
}

.profiletab2 .cover {
  background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.profiletab .cover {
  background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.profiletab .profile-pic{
  width: 350px;
  display:table;
  top: 20px;
  left: 25px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgba(185,217,137,0.7);
  padding-bottom: 15px;
  font-weight: 400;
  position:relative;;
}
.profiletab2 .container_header {
  width: 350px;
  display:table;
  top: 7px;
  left: 25px;
  color: white;
  padding-bottom: 15px;
  font-weight: 400;
  position:relative;;
}

//legend inside leaflet graph
.legend {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255, 0.7);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 6px 8px;
    width: 180px;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.6;
}

/*
#legend > img {
  display: table;
}

.legend {
  width: 10px;
  height: 10px;
}

#legend > p {
  margin-bottom: 5px;
}
*/


.profiletab .statistics .detail2{
  text-align: center;
display: table-cell;
padding-left: 15px;
padding-right: 10px;
font-weight: 400;
letter-spacing: 1px;
color: rgba(255,255,255,0.88);
}

.profiletab .statistics{
  top: 140px;
  left: 20px;
  color:white;
  position: absolute;
}

.profiletab .trackusername{
  top: 140px;
  left: 20px;
  color:white;
  position: absolute;
}

//Animations
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {

    to      { opacity: 0.2; transform: translateX(-10%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.2; -webkit-transform: scale(0.98); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}


    .ng-enter           { animation: scaleUp 0.4s both ease-in; z-index: 9888; }
  //  .ng-leave           { animation: slideOutLeft 0.4s both ease-in; z-index: 9999;}
//End of animations


.profiletab .profile-pic .username{
  top: -24%;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  position: relative;
}
.profiletab .profile-pic .tracksusername{
  top: -50%;
  left: 33%;
  position: relative;
}
.profiletab .profile-pic .emailIdUser{
  top: -59%;
  left: 35.7%;
  position: relative;
  font-size: 15px;
  color: rgba(255,255,255,0.6);

}

.carddemoBasicUsage .card-media {
  background-color: #999999; }

.card-4 {
 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
   width: 870px;
}
.card-4-50 {
  box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.2);
  width:100%
}
.card-4-50-noborder {
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  width:100%
}
.card-4-50-white {
  box-shadow: -4px 10px 0px -200px rgba(0,0,0,0.75);
  width:100%;
}
.card-4-50-100 {
  box-shadow: 0px 0px 15px -2px rgba(0,0,0,1);
  width:100%
}
.card-4-5 {
  box-shadow: 0px 0px 15px -2px rgba(0,0,0,1);
  width:50%
}
.md-subhead {
  padding-left: 15px;
  font-size: $font-size-large;
  color: $text-color;
}
.card-4-flex {
 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 width: 100%;height: 500px;
}
.toolbar-button {
  min-width: 20px;
}

.share-label {
  vert-align: middle;
  margin-left: 10px;
}

.page-content {
  background-color: $main-bg-color;
}

.widget-progress {
  width: 95% !important;
  margin-left: 10px;
}


// UTILS
.capitalize {
  text-transform: capitalize;
}

.img-circle {
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}


// COMPONENTS
.messages {
  position: relative;

  &-content {
    height: 100vh;
  }
}

.notifications-label {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  font-size: 12px;
  top: 2px;
  right: 2px;
  background-color: $warning-color;
}

// panel-widget
.panel-widget {
  background-color: white;
  box-shadow: 0px 0px 15px -2px rgba(0,0,0,1);
  &-toolbar {
    box-shadow: none;
    margin: 0;
  }

  &-tittle {
    color: $text-color;
  }
}

.options {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.options.ng-hide {
  opacity:0;
}

.fixed-height-widget {
  height: 550px;
}

// charts
.donut-chart-title{
  text-align: center;
}

.custom-tooltip {
  font-size: $font-size-large;
  color: $text-color;
  text-align: center;
}


// OVERRIDES
// angular material overrides
md-radio-group {
  border: none;
}

md-icon {
  height: auto;
}

md-sidenav.md-locked-open.md-sidenav-left {
  width: $left-sidenav-width;
  min-width: $left-sidenav-width;
  max-width: $left-sidenav-width;
}

a.md-button.md-warn.md-raised, a.md-button.md-warn.md-fab, .md-button.md-warn.md-raised, .md-button.md-warn.md-fab {
  color: white;
}

md-radio-button.md-accent.md-checked .md-label span {
  color: $accent-color;
}

.md-toolbar-tools h1 {
  font-size: $font-size-large;
}

md-toolbar {
  //box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.9);

}
 .optionspie {
   background-color: transparent;

  position: absolute;
  z-index: 1000;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);

}
.customtoolbar {
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.9);
}


md-backdrop.md-sidenav-backdrop {
  position: fixed;
}

// libs overrides
.material-icons {
  vertical-align: middle;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.nvd3.nv-pie .nv-pie-title {
  fill: rgb(68, 68, 68);
  font-weight: $font-weight-bold;
  font-size: $font-size-large !important;
}

.nvtooltip {
  background-color: transparent;
  border: none;
  font-weight: $font-weight-bold;
}

.orange .md-bar2 {
  background-color: orange;
}

.orange .md-container {
  background-color: rgb(255, 236, 201)
}

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);

  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}
.timeline li timeline-panel{
  box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.2);
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;

  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;

  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;

  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;

  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);

  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;

  z-index: 15;
}

}

@media screen and (min-width: 400px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}
