<div ng-controller = "DashboardController">
  <timeline>
  <timeline-event ng-repeat="event in events" side="left">
    <timeline-badge class="{{event.badgeClass}}">
      <i class="glyphicon {{event.badgeIconClass}}"></i>
    </timeline-badge>
    <timeline-panel class="{{event.badgeClass}}">
      <timeline-heading>
        <h4><a href={{event.urlredirect}}>{{event.title}}</a></h4>
      </timeline-heading>
      <p>Track ID - {{event.id}}</p>
      <p>Modified - {{event.modified}}</p>
      <img class="previewimage" src={{event.url}} height="72" width="72"></img>
    </timeline-panel>
  </timeline-event>
</timeline>
</div>
