<div ng-app="app" ng-controller="ChartController">
  <div class="profiletab2" ng-style="{'background-color':'#0065A0'}" style="width:100%;height:130px">
    <div class="cover">
  <div class="container_header">
  <p class="title"><b>{{'TRACK_ID' | translate}}</b>  - {{trackid}}</p>
  <p class="title"><b>{{'NAME' | translate}}</b>      - {{name}}</p>
  <p class="title"><b>{{'CREATED' | translate}}</b>   - {{created | date:'medium'}}</p>
  </div>
</div>
  </div>
  <md-tabs  md-dynamic-height md-border-bottom flex>
    <md-tab label="SINGLE">
      <md-content  style="background-color:#EEEEEE" md-theme="default">
<div >
<div >

  <div class="middle">
    <div layout-gt-md="row">
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" style="max-height:530px;min-height:530px" md-theme-watch>
      <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" >
        <div class="md-toolbar-tools">
          <h3>
            <span>{{'TRACK_MAP' | translate}}</span>
          </h3>
          <span flex></span>
          <md-select  md-theme="blue" ng-model="widgetType1" >
          		<md-option ng-model="d" ng-value="d" ng-click="changePhenomenon(d)" data-ng-repeat="d in piechartoptions">{{d}}</md-option>
     	</md-select>

        </div>
      </md-toolbar>

              <md-card-content style="max-height:465px" class="nopadding">
              <md-progress-circular class="loader_dashboard2" ng-if="!onload_leaflet" md-diameter="156"></md-progress-circular>

                <md-content ng-if="onload_leaflet">
                  <leaflet bounds="bounds"  controls="controls" paths="paths" watch-paths="true" markers="markers" legend="legend" defaults="defaults" height="465"  ></leaflet>
                </md-content>
            </md-card-content>
    </md-card>

<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" style="max-height:530px;min-height:530px" md-theme-watch>
<md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2">
  <div class="md-toolbar-tools">
    <h3>
      <span>{{'TIME_SERIES' | translate}}</span>
    </h3>
    <span flex></span>
      <md-menu md-offset="-120 20">
          <md-button class="capitalize md-primary" ng-click="$mdOpenMenu()" aria-label="Open menu">
            <i class="material-icons">more_vert</i>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item flex ng-repeat="d in piechartoptions">
                  <md-checkbox ng-checked="exists(d, selected)" ng-click="toggle(d, selected)">
                   {{ d }}
                  </md-checkbox>
            </md-menu-item>
          </md-menu-content>
      </md-menu>


  </div>


</md-toolbar>
    <md-card-content >
      <md-progress-circular class="loader_dashboard2" ng-if="!onload_nvd3line" md-diameter="156"></md-progress-circular>

      <div ng-if="onload_nvd3line" class="containernvd3" style="width:100%;height:100%">
      <md-content ng-show="$showOptionsnvd3" class="optionsnvd3">
        <div class="demo-select-all-checkboxes" flex ng-repeat="d in piechartoptions">
            <md-checkbox ng-checked="exists(d, selected)" ng-click="toggle(d, selected)">
             {{ d }}
            </md-checkbox>
          </div>
          </md-content>
      <nvd3 options="options" data="data"></nvd3>
    </div>
  </md-card-content>

</md-card>
</div>

<div layout-gt-md="row">

  <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" style="height:450px" md-theme-watch>
    <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" md-scroll-shrink ng-if="true">
      <div class="md-toolbar-tools">
        <h3>
          <span>{{'TRACK_SUMMARY' | translate}}</span>
        </h3>
      </div>
    </md-toolbar>

    <md-card-content class="text-color" >
      <md-progress-circular class="loader_dashboard2" ng-if="!onload_summary" md-diameter="156"></md-progress-circular>

      <div ng-if="onload_summary">
        <div layout-gt-xs="row">
          <div style="width:50%;text-align:center">
            <h3 style="color:#0065A0">{{tracksummary['timeoftravel']}}</h3>
            <p style="font-size:13px;">{{'DURATION' | translate}}</p>
          </div>
          <div style="width:50%;text-align:center">
            <h3 style="color:#0065A0">{{travel_distance}} Km</h3>
            <p style="font-size:13px;">{{'DISTANCE' | translate}}</p>
          </div>
        </div>
        <md-divider ></md-divider>
        <md-list-item  layout="row">
                <i class="material-icons md-avatar grey md-36">directions_car</i>
                <div class="md-list-item-text">
                <p>{{'CAR:' | translate}}</p>
                </div>
                <span flex></span>
                <div style="right:0px" class="md-list-item-text">
                <p>{{tracksummary['vehiclemanufacturer']}}, {{tracksummary.vehiclemodel}}</p>
                </div>
            </md-list-item>

            <md-list-item layout="row">
              <i class="material-icons md-avatar grey md-36">timer</i>
              <div class="md-list-item-text">
              <p>{{'START:' | translate}}</p>
              </div>
              <span flex></span>
              <div style="right:0px" class="md-list-item-text">
              <p>{{tracksummary['starttime']}}</p>
              </div>
            </md-list-item>

            <md-list-item layout="row">
              <i class="material-icons md-avatar grey md-36">timer_off</i>
              <div class="md-list-item-text">
              <p>{{'END:' | translate}}</p>
              </div>
              <span flex></span>
              <div style="right:0px" class="md-list-item-text">
              <p>{{tracksummary['endtime']}}</p>
              </div>
            </md-list-item>

            <md-list-item layout="row">
              <i class="material-icons md-avatar grey md-36">local_gas_station</i>
              <div class="md-list-item-text">
              <p>{{'CONSUMPTION:' | translate}}</p>
              </div>
              <span flex></span>
              <div style="right:0px" class="md-list-item-text">
              <p>{{consumption100Km}}</p>
              </div>
            </md-list-item>

            <md-list-item layout="row">
              <i class="material-icons md-avatar grey md-36">cloud_circle</i>
              <div class="md-list-item-text">
              <p>{{'CO2_EMISSION:' | translate}}</p>
              </div>
              <span flex></span>
              <div style="right:0px" class="md-list-item-text">
              <p>{{co2gKm}}</p>
              </div>
            </md-list-item>

      </div>
  </md-card-content>
  </md-card>
  <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" style="height:450px" md-theme-watch>
    <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" >
      <div class="md-toolbar-tools">
        <h3>
          <span>{{'STATISTICS' | translate}}</span>
        </h3>
        <span flex></span>
        <md-select md-theme="blue" ng-model="widgetType2" >
            <md-option ng-model="d" ng-value="d" ng-click="selecteditemchanged(d)" data-ng-repeat="d in piechartoptions">{{d}}</md-option>
    </md-select>


      </div>

    </md-toolbar>
  <md-card-content >
    <md-progress-circular class="loader_dashboard2" ng-if="!onload_nvd3pie" md-diameter="156"></md-progress-circular>
    <div ng-if="onload_nvd3pie" class="containernvd3" style="width:100%;height:100%">

    <nvd3 options="options_pie" data="data_pie"></nvd3>
  </div>
</md-card-content>

  </md-card>
  <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" style="height:450px" md-theme-watch>
    <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" >
      <div class="md-toolbar-tools">
        <h3>
          <span>{{'TRACK_VS_PUBLIC' | translate}}</span>
        </h3>
        <span flex></span>
        <md-select  md-theme="blue" ng-model="widgetType3" >
            <md-option ng-model="d" ng-value="d" ng-click="changePhenomenonbar(d,1)" data-ng-repeat="d in barchartoptions">{{d}}</md-option>
    </md-select>

      </div>

    </md-toolbar>


  <md-card-content>
    <md-progress-circular class="loader_dashboard2" ng-if="!onload_nvd3_user_vs_public" md-diameter="156"></md-progress-circular>

    <div ng-if="onload_nvd3_user_vs_public" class="containernvd3" style="width:100%;height:100%">

          <nvd3 options="optionsSpeed" data="dataoverall"></nvd3>
</div>
</md-card-content>

  </md-card>
</div>
</div>
</div>
</div>
</md-content>
</md-tab>
<md-tab label="Segment">
  <md-content ng-controller="SegmentController" style="background-color:#EEEEEE" md-theme="default">
    <div >
    <div >

      <div class="middle">
        <div layout-gt-md="row">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" style="max-height:590px;min-height:590px" md-theme-watch>
          <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" >
            <div class="md-toolbar-tools">
              <h3>
                <span>{{'TRACK_MAP' | translate}}</span>
              </h3>
              <span flex></span>
              <md-select  md-theme="blue" ng-model="widgetType1" >
              		<md-option ng-model="d" ng-value="d" ng-click="changePhenomenon(d)" data-ng-repeat="d in piechartoptions">{{d}}</md-option>
         	</md-select>

            </div>
          </md-toolbar>
        <!--  <md-card-title-text>
            <br>
            <span class="md-subhead">{{'TRACK_MAP' | translate}}</span>
          </md-card-title-text> -->
                <!--   <md-card-actions layout="row" layout-align="end right">

                  <md-button ng-show="options" ng-click="$showOptions = !$showOptions" class="md-icon-button" aria-label="Show options">
                    <i class="material-icons">more_vert</i>
                  </md-card-actions>
                -->
                  <md-card-content style="max-height:495px" class="nopadding">
                    <!-- <img id="mySpinner" class="mySpinner" src="/assets/images/715.gif" ng-show="loading"> -->
                  <md-progress-circular class="loader_dashboard2" ng-if="!onload_leaflet" md-diameter="156"></md-progress-circular>
                  <rzslider rz-slider-model="slider.minValue"
                    rz-slider-high="slider.maxValue"
                      rz-slider-options="slider.options"></rzslider>
                    <md-content ng-if="onload_leaflet">
                      <leaflet event-broadcast="events" bounds="bounds" controls="controls" paths="paths" watch-paths="true" markers="markers" legend="legend" height="465"  ></leaflet>
                    </md-content>
                </md-card-content>
        </md-card>
        <!--   <div layout="column" style="width:50%;height:600px" ng-cloak>

     <md-toolbar md-scroll-shrink ng-if="true" ng-controller="TitleController">
          <div class="md-toolbar-tools">
            <h3>
              <span>Trial</span>
            </h3>
          </div>
        </md-toolbar>
        <md-content>
          <nvd3 options="options" data="data"></nvd3>
        </md-content>
    </div>
    -->
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" style="max-height:590px;min-height:590px" md-theme-watch>
    <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2">
      <div class="md-toolbar-tools">
        <h3>
          <span>{{'TIME_SERIES' | translate}}</span>
        </h3>
        <span flex></span>
          <md-menu md-offset="-120 20">
              <md-button class="capitalize md-primary" ng-click="$mdOpenMenu()" aria-label="Open menu">
                <i class="material-icons">more_vert</i>
              </md-button>
              <md-menu-content width="3">
                <md-menu-item flex ng-repeat="d in piechartoptions">
                      <md-checkbox ng-checked="exists(d, selected)" ng-click="toggle(d, selected)">
                       {{ d }}
                      </md-checkbox>
                </md-menu-item>
              </md-menu-content>
          </md-menu>


      </div>


    </md-toolbar>
        <md-card-content >
          <md-progress-circular class="loader_dashboard2" ng-if="!onload_nvd3line" md-diameter="156"></md-progress-circular>

          <div ng-if="onload_nvd3line" class="containernvd3" style="width:100%;height:100%">
          <md-content ng-show="$showOptionsnvd3" class="optionsnvd3">
            <div class="demo-select-all-checkboxes" flex ng-repeat="d in piechartoptions">
                <md-checkbox ng-checked="exists(d, selected)" ng-click="toggle(d, selected)">
                 {{ d }}
                </md-checkbox>
              </div>
              </md-content>
          <nvd3 options="options" data="data"></nvd3>
        </div>
      </md-card-content>

    </md-card>
        <!-- <panel-widget flex title="Graph" template="app/views/partials/chartmain.html"></panel-widget> -->
    </div>

    <div layout-gt-md="row">

      <!--  <panel-widget flex title="Pie Chart" template="app/views/partials/piechart.html" options="true"></panel-widget> -->
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" style="height:450px" md-theme-watch>
        <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" md-scroll-shrink ng-if="true">
          <div class="md-toolbar-tools">
            <h3>
              <span>{{'TRACK_SUMMARY' | translate}}</span>
            </h3>
          </div>
        </md-toolbar>

        <md-card-content class="text-color" >
          <md-progress-circular class="loader_dashboard2" ng-if="!onload_summary" md-diameter="156"></md-progress-circular>

          <div ng-if="onload_summary">
            <div layout-gt-xs="row">
              <div style="width:50%;text-align:center">
                <h3 style="color:#0065A0">{{tracksummary['timeoftravel']}}</h3>
                <p style="font-size:13px;">{{'DURATION' | translate}}</p>
              </div>
              <div style="width:50%;text-align:center">
                <h3 style="color:#0065A0">{{travel_distance}} Km</h3>
                <p style="font-size:13px;">{{'DISTANCE' | translate}}</p>
              </div>
            </div>
            <md-divider ></md-divider>
            <md-list-item  layout="row">
                    <i class="material-icons md-avatar grey md-36">directions_car</i>
                    <div class="md-list-item-text">
                    <p>{{'CAR:' | translate}}</p>
                    </div>
                    <span flex></span>
                    <div style="right:0px" class="md-list-item-text">
                    <p>{{tracksummary['vehiclemanufacturer']}}, {{tracksummary.vehiclemodel}}</p>
                    </div>
                </md-list-item>

                <md-list-item layout="row">
                  <i class="material-icons md-avatar grey md-36">timer</i>
                  <div class="md-list-item-text">
                  <p>{{'START:' | translate}}</p>
                  </div>
                  <span flex></span>
                  <div style="right:0px" class="md-list-item-text">
                  <p>{{tracksummary['starttime']}}</p>
                  </div>
                </md-list-item>

                <md-list-item layout="row">
                  <i class="material-icons md-avatar grey md-36">timer_off</i>
                  <div class="md-list-item-text">
                  <p>{{'END:' | translate}}</p>
                  </div>
                  <span flex></span>
                  <div style="right:0px" class="md-list-item-text">
                  <p>{{tracksummary['endtime']}}</p>
                  </div>
                </md-list-item>

                <md-list-item layout="row">
                  <i class="material-icons md-avatar grey md-36">local_gas_station</i>
                  <div class="md-list-item-text">
                  <p>{{'CONSUMPTION:' | translate}}</p>
                  </div>
                  <span flex></span>
                  <div style="right:0px" class="md-list-item-text">
                  <p>{{consumption100Km}}</p>
                  </div>
                </md-list-item>

                <md-list-item layout="row">
                  <i class="material-icons md-avatar grey md-36">cloud_circle</i>
                  <div class="md-list-item-text">
                  <p>{{'CO2_EMISSION:' | translate}}</p>
                  </div>
                  <span flex></span>
                  <div style="right:0px" class="md-list-item-text">
                  <p>{{co2gKm}}</p>
                  </div>
                </md-list-item>

          </div>
      </md-card-content>
      </md-card>
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" style="height:450px" md-theme-watch>
        <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" >
          <div class="md-toolbar-tools">
            <h3>
              <span>{{'STATISTICS' | translate}}</span>
            </h3>
            <span flex></span>
            <md-select  md-theme="blue" ng-model="widgetType2" >
                <md-option ng-model="d" ng-value="d" ng-click="selecteditemchanged(d)" data-ng-repeat="d in piechartoptions">{{d}}</md-option>
        </md-select>


          </div>

        </md-toolbar>
      <md-card-content >
        <md-progress-circular class="loader_dashboard2" ng-if="!onload_nvd3pie" md-diameter="156"></md-progress-circular>
        <div ng-if="onload_nvd3pie" class="containernvd3" style="width:100%;height:100%">
        <md-content ng-show="$showOptionsnvd3" class="optionsnvd3">
            </md-content>
        <nvd3 options="options_pie" data="data_pie"></nvd3>
      </div>
    </md-card-content>

      </md-card>
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" style="height:450px" md-theme-watch>
        <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" >
          <div class="md-toolbar-tools">
            <h3>
              <span>{{'TRACK_VS_PUBLIC' | translate}}</span>
            </h3>
            <span flex></span>
            <md-select  md-theme="blue" ng-model="widgetType3" >
                <md-option ng-model="d" ng-value="d" ng-click="changePhenomenonbar(d)" data-ng-repeat="d in barchartoptions">{{d}}</md-option>
        </md-select>

          </div>

        </md-toolbar>


      <md-card-content>
        <md-progress-circular class="loader_dashboard2" ng-if="!onload_nvd3_user_vs_public" md-diameter="156"></md-progress-circular>

        <div ng-if="onload_nvd3_user_vs_public" class="containernvd3" style="width:100%;height:100%">

              <nvd3 options="optionsSpeed" data="dataoverall"></nvd3>
    </div>
  </md-card-content>

      </md-card>
    </div>

    </div>
    </div>
    </div>
  </md-content>
</md-tabs>
</div>
