
<div ng-app="app">
<div ng-controller="ChartController">
  <div class="profiletab2" ng-style="{'background-color':'#0065A0'}" style="width:100%;height:130px">
    <div class="cover">
  <div class="container_header">
  <p class="title"><b>Track ID</b>  - {{trackid}}</p>
  <p class="title"><b>Name</b>      - {{name}}</p>
  <p class="title"><b>Created</b>   - {{created}}</p>
  </div>
</div>
  </div>
    <div layout-gt-md="row">
    <md-card  md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" style="min-height:500px" md-theme-watch>
      <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" >
        <div class="md-toolbar-tools">
          <h3>
            <span>{{'TRACK_MAP' | translate}}</span>
          </h3>
          <span flex></span>

                <md-button ng-show="options" ng-click="$showOptions = !$showOptions" class="md-icon-button" aria-label="Show options">
                    <i class="material-icons">more_vert</i>
        </div>
      </md-toolbar>
    <!--  <md-card-title-text>
        <br>
        <span class="md-subhead">{{'TRACK_MAP' | translate}}</span>
      </md-card-title-text> -->
            <!--   <md-card-actions layout="row" layout-align="end right">

              <md-button ng-show="options" ng-click="$showOptions = !$showOptions" class="md-icon-button" aria-label="Show options">
                <i class="material-icons">more_vert</i>
              </md-card-actions>
            -->
              <md-card-content >
                <!-- <img id="mySpinner" class="mySpinner" src="/assets/images/715.gif" ng-show="loading"> -->
            <md-content ng-show="$showOptions" class="optionspie">
                  <md-radio-group ng-model="phenomenonleaflet" ng-change="changePhenomenon()">
                    <md-radio-button ng-repeat="d in piechartoptions" ng-value="d" >
                        {{d}}
                    </md-radio-button>
                  </md-radio-group>
                </md-content>

                <md-content>
                  <leaflet lf-center="center" controls="controls" paths="paths" markers="markers" legend="legend" defaults="defaults" height="470"  ng-if="!loading"></leaflet>
                </md-content>
            </md-card-content>
    </md-card>
    <!--   <div layout="column" style="width:50%;height:600px" ng-cloak>

 <md-toolbar md-scroll-shrink ng-if="true" ng-controller="TitleController">
      <div class="md-toolbar-tools">
        <h3>
          <span>Trial</span>
        </h3>
      </div>
    </md-toolbar>
    <md-content>
      <nvd3 options="options" data="data"></nvd3>
    </md-content>
</div>
-->
<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" md-theme-watch>
<md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" md-scroll-shrink ng-if="true">
  <div class="md-toolbar-tools">
    <h3>
      <span>Graph</span>
    </h3>
  </div>
</md-toolbar>
    <md-card-content >
      <nvd3 options="options" data="data"></nvd3>
  </md-card-content>

</md-card>
    <!-- <panel-widget flex title="Graph" template="app/views/partials/chartmain.html"></panel-widget> -->
</div>

<div layout-gt-md="row">
  <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" md-theme-watch>
    <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" >
      <div class="md-toolbar-tools">
        <h3>
          <span>{{'PIE_CHART' | translate}}</span>
        </h3>
        <span flex></span>

              <md-button ng-show="options" ng-click="$showOptions = !$showOptions" class="md-icon-button" aria-label="Show options">
                  <i class="material-icons">more_vert</i>

      </div>

    </md-toolbar>
    <md-card-content>
          <md-content ng-show="$showOptions" class="optionspie">
            <md-radio-group ng-model="piechartselected" ng-change="selecteditemchanged()">
              <md-radio-button ng-repeat="d in piechartoptions" ng-value="d" >
                  {{d}}
           </md-radio-button>
            </md-radio-group>
          </md-content>
          <md-content >

            <nvd3 options="options_pie" data="data_pie"></nvd3>
      </md-content>


  </md-card-content>

  </md-card>
  <!--  <panel-widget flex title="Pie Chart" template="app/views/partials/piechart.html" options="true"></panel-widget> -->
  <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" md-theme-watch>
    <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" md-scroll-shrink ng-if="true">
      <div class="md-toolbar-tools">
        <h3>
          <span>{{'TRACK_SUMMARY' | translate}}</span>
        </h3>
      </div>
    </md-toolbar>

    <md-card-title-media>
      <div>
        <md-list-item class="md-2-line">
              <img ng-src="assets/images/ic_directions_car_black_48dp.png" class="md-avatar"/>
              <div class="md-list-item-text">
                <h3>{{'DISTANCE' | translate}}</h3>
                <p>{{tracksummary['distance']}} {{tracksummary['unitsofdistance']}}</p>
              </div>
              <img ng-src="assets/images/ic_directions_car_black_48dp.png" class="md-avatar"/>
              <div class="md-list-item-text">
                <h3>{{'VEHICLE_TYPE'}}</h3>
                <p>{{tracksummary['vehicletype']}} - {{tracksummary['vehiclemodel']}}</p>
              </div>
            </md-list-item>
            <md-divider ></md-divider>
            <md-list-item class="md-2-line">
                  <img ng-src="assets/images/ic_timer_black_48dp.png" class="md-avatar"/>
                  <div class="md-list-item-text">
                    <h3>{{'TOTAL_TIME' | translate}}</h3>
                    <p>{{tracksummary['timeoftravel']}} {{tracksummary['unitsoftime']}}</p>
                  </div>
                  <img ng-src="assets/images/ic_access_time_black_48dp.png" class="md-avatar"/>
                  <div class="md-list-item-text">
                    <h3>{{'START_FINISH' | translate}}</h3>
                    <p>{{tracksummary['starttime']}} - {{tracksummary['endtime']}}</p>
                  </div>
            </md-list-item>
            <md-divider ></md-divider>
            <md-list-item class="md-2-line">
                  <img ng-src="assets/images/Gas-Pump-96.png" class="md-avatar"/>
                  <div class="md-list-item-text">
                    <h3>{{'CONSUMPTION' | translate}}</h3>
                    <p>{{tracksummary['fuel']}} {{tracksummary['unitsoffuel']}}</p>
                  </div>
                  <img ng-src="assets/images/ic_local_gas_station_black_48dp.png" class="md-avatar"/>
                  <div class="md-list-item-text">
                    <h3>{{'CONSUMPTION_HOUR' | translate}}</h3>
                    <p>{{tracksummary['fuelperhour']}} l/h</p>
                  </div>
            </md-list-item>
            <md-divider ></md-divider>
            <md-list-item class="md-2-line">
                  <img ng-src="assets/images/Gas-96.png" class="md-avatar"/>
                  <div class="md-list-item-text">
                    <h3>{{'CO2_EMISSION' | translate}}</h3>
                    <p>{{tracksummary['co2emission']}} {{tracksummary['unitsofco2emission']}}</p>
                  </div>
                  <img ng-src="assets/images/Gas-96.png" class="md-avatar"/>
                  <div class="md-list-item-text">
                    <h3>{{'CO2_EMISSION_HOUR' | translate}}</h3>
                    <p>{{tracksummary['co2emissionperhour']}} kg/h</p>
                  </div>
            </md-list-item>



      </div>
  </md-card-title-media>
  </md-card>
</div>

</div>
</div>
