<div class="profiletab" ng-controller="ProfileViewController" ng-style="{'background-color':'#0065A0'}" style="width:100%;height:250px">
<div class="cover">
  <div class="profile-pic absolute" style="height:40%;display:inline-block">
  <img class="img-circle" src="https://secure.gravatar.com/avatar/cf17f9ff1e0a237ab76046d5aca84e0e?size=240" style="height:100px;width:100px">
  <span class="username" ng-bind=name_of_user></span>
  <span class="emailIdUser" ng-bind=emailId></span>

  <span class="tracksusername">
  <md-button class="md-raised md-primary" ng-show="originalUser" href="{{trackurl}}">Open {{name_of_user}}'s Tracks</button>
  </span>
</div>
<div class="statistics" >
   <div class="detail2" >
  <p ng-bind="track_number">
    <br>
    <div class="descp">
      Tracks
    </div>
  </div>
  <div class="detail2" >
    <p ng-bind="friends_number">
    <br>
    <div class="descp">
      Friends
    </div>
  </div>
  <div class="detail2" >
    <p ng-bind="distance_driven">
     <br>
     <div class="descp">
       Distance
     </div>
  </div>
  <div class="detail2" >
    <p ng-bind="groups_number">
    <br>
    <div class="descp">
      Groups
    </div>
  </div>
</div>
</div>
</div>

<md-content>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="TimeLine">
      <md-content md-theme="default">
        <div layout-gt-md="row" ng-controller="DashboardController" layout="column">
          <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" style="min-height:600px;max-height:601px"  md-theme-watch>
            <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" md-scroll-shrink ng-if="true">
              <div class="md-toolbar-tools">
                <h3>
                  <span>{{username}} vs Public</span>
                </h3>
              </div>
            </md-toolbar>
            <md-card-content>
                <nvd3 options="options" data="data" ng-if="!loading"></nvd3>
            </md-card-content>
          </md-card>
          <md-card md-theme="default" class="card card-4-50" style="width:600px"  md-theme-watch>
            <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" md-scroll-shrink ng-if="true">
              <div class="md-toolbar-tools">
                <h3>
                  <span>{{ 'TITLE_TRACKS' | translate}}</span>
                </h3>
              </div>
            </md-toolbar>
            <md-card-content >
                      <md-list-item ng-if="!loading" md-theme="default" md-ink-ripple="#0065A0" class="md-3-line md-long-text " ng-repeat='event in events' ng-click="goToActivity(event.id)">
                      <img class="md-avatar" src={{event.url}} style="width:80px;height:80px"></img>
                      <div class="md-list-item-text" layout="column">
                      <h3>{{event.title}}</h3>
                      <h4>{{event.id}}</h4>
                      <p>{{event.modified}}</p>
                    </div>
                    </md-list-item>
                </md-card-content>
                <md-card-title-media>

              <md-content >
                <!--
            <timeline>
            <timeline-event ng-repeat="event in events" side={{event.side}}>
              <timeline-badge class="{{event.badgeClass}}">
                <i class="glyphicon {{event.badgeIconClass}}"></i>
              </timeline-badge>
              <timeline-panel class="{{event.badgeClass}}">
                <timeline-heading>
                  <h4><a href={{event.urlredirect}}>{{event.title}}</a></h4>
                 <img class="previewimage" src={{event.url}} height="42" width="42"></img>
                </timeline-heading>
                <p>{{'TRACK_ID' | translate}} - {{event.id}}</p>
                <p>{{'MODIFIED' | translate}} - {{event.modified}}</p>
              </timeline-panel>
            </timeline-event>
          </timeline>
        -->
        </md-content>

        </md-card-title-media>

        </md-card>


        </div>
      </md-content>
    </md-tab>
    <md-tab label="Activity">
      <md-content class="md-padding">
        <div layout-gt-md="row" layout="column" >
        <md-card ng-show="originaluser" ng-controller="FriendActivityController" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" md-theme-watch>
          <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" md-scroll-shrink ng-if="true">
            <div class="md-toolbar-tools">
              <h3>
                <span>{{ 'FRIENDS_ACTIVITY' | translate}}</span>
              </h3>
            </div>
          </md-toolbar>
          <md-card-content>
            <md-content ng-show="!show_no_my_activity" flex layout-padding style="max-height:470px">
              <md-list-item class="md-3-line md-long-text md-whiteframe-1dp" ng-repeat='item in events' ng-click="goToActivity(item.type,item.trackidlink)">
                <img class="md-avatar" src={{item.profileurl}}></img>
                <div class="md-list-item-text" layout="column">
                <h3>{{item.topic}}</h3>
                <h4>{{item.name}}</h4>
                <p>{{item.date}}</p>
              </div>
              </md-list-item>
              <div ng-show = 'busy'>{{'LOADING_DATA' | translate}}</div>
        </md-content>
        <div layout="row" ng-show="show_no_my_activity" layout-align="center center">
          <p>You do not have any friend activity to show</p>
        </div>
        </md-card-content>
        <md-card-actions layout-align="center center">
          <md-button ng-show="!show_no_my_activity" ng-click="nextpage()">{{'LOAD_MORE' | translate}}</md-button>
        </md-card-actions>
        </md-card>
        <md-card ng-controller="MyActivityController" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" md-theme-watch>
          <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" md-scroll-shrink ng-if="true">
            <div class="md-toolbar-tools">
              <h3>
                <span>{{'MY_ACTIVITY' | translate}}</span>
              </h3>
            </div>
          </md-toolbar>
          <md-card-content>
            <md-content flex layout-padding style="max-height:470px">
              <md-list-item ng-show="!show_no_my_activity" class="md-3-line md-long-text md-whiteframe-1dp" ng-repeat='item in events' ng-click="goToActivity(item.type,item.trackidlink)">
            <!--    <img class="md-avatar" src={{item.profileurl}}></img> -->
                <div class="md-list-item-text" layout="column">
                <h3>{{item.topic}}</h3>
                <h4>{{item.name}}</h4>
                <p>{{item.date}}</p>
              </div>
              </md-list-item>
              <div ng-show = 'busy'>{{'LOADING_DATA' | translate}}</div>
        </md-content>
        <div layout="row" ng-show="show_no_my_activity" layout-align="center center">
          <p>You do not have any friends</p>
        </div>
        </md-card-content>

        <md-card-actions layout-align="center center">
          <md-button ng-show="!show_no_my_activity" ng-click="nextpage()">{{'LOAD_MORE' | translate}}</md-button>
        </md-card-actions>
        </md-card>
      </div>
</md-content>
</md-tab>

<md-tab label="Friends and Groups">
    <md-card ng-controller="FriendListController" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" style="width:400px" md-theme-watch>
      <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
          <h3>
            <span>Friends</span>
          </h3>
        </div>
      </md-toolbar>
      <md-card-content>
        <md-content ng-show="!show_no_friends" flex layout-padding style="height:270px">
          <md-list-item class="md-long-text" ng-repeat='item in data_friends' ng-click="goToFriend(item.username)">
         <img class="md-avatar" src={{item.profile_url}}></img>
            <div class="md-list-item-text md-2-line" layout="column">
            <h3>{{item.username}}</h3>
            <!--<h4>{{item.name}}</h4>
            <p>{{item.date}}</p>
          -->
          </div>
          </md-list-item>
    </md-content>
    <div layout="row" ng-show="show_no_friends" layout-align="center center">
      <p>You do not have any friends</p>
    </div>
    </md-card-content>
    </md-card>
</md-tab>
</md-tabs>
</md-content>
