<div layout="column" flex id="content" role="main">
			<md-content layout="vertical" flex id="content">
				<div layout="row" layout-align="center center" layout-fill>
					<md-whiteframe class="md-whiteframe-z1" layout="column" flex="30" layout-padding>
						<md-content md-theme="default">
              <div ng-show="error">{{error}}</div>
							<md-input-container md-theme="default">
								<label>Username</label>
								<input ng-keyup="$event.keyCode == 13 && login()" ng-model="username">
							</md-input-container>
							<md-input-container md-theme="default">
								<label>Password</label>
								<input ng-keyup="$event.keyCode == 13 && login()" ng-model="password" type="password">
							</md-input-container>
							<md-input-container layout-align="center center">
								<div layout="row" layout-sm="column" layout-margin>
									<md-button md-theme="defaultPrimary" class="md-raised" flex="50" flex-sm="100" ng-click="login()">Login</md-button>
									<md-button class="md-raised md-success" flex="50" flex-sm="100">Register</md-button>
								</div>
							</md-input-container>
						</md-content>
					</md-whiteframe>
				</div>
			</md-content>
		</div>
