<div ng-controller="ProfileController" class="middle">
<div layout-gt-sm="row">
  <md-card class="card card-4-50" style="min-height:900px">
    <img src="assets/images/profiledup.png" hide show-gt-sm class="md-card-image">
  </img>
    <md-card-content class="text-color">
      <img src="assets/images/profiledup.png" hide-gt-sm style="width:30%">

      <h2>Bio</h2>
      <md-list-item  layout-gt-xs="row">
        <div class="md-list-item-text">
        <p><b>{{'NAME' | translate}}</b></p>
        </div>
        <span flex></span>
        <div style="right:0px" class="md-list-item-text">
        <p>{{name}}</p>
        </div>
      </md-list-item>
      <md-list-item  layout="row">
        <div class="md-list-item-text">
        <p><b>{{'EMAIL_ID' | translate}}</b></p>
        </div>
        <span flex></span>
        <div style="right:0px" class="md-list-item-text">
        <p>{{emailId}}</p>
        </div>
      </md-list-item>
      <md-list-item  layout="row">
        <div class="md-list-item-text">
        <p><b>{{'COUNTRY' | translate}}</b></p>
        </div>
        <span flex></span>
        <div style="right:0px" class="md-list-item-text">
        <p>{{countrytext}}</p>
        </div>
      </md-list-item>
      <md-list-item  layout="row">
        <div class="md-list-item-text">
        <p><b>{{'LANGUAGE' | translate}}</b></p>
        </div>
        <span flex></span>
        <div style="right:0px" class="md-list-item-text">
        <p>{{langtext}}</p>
        </div>
      </md-list-item>
      <md-list-item  layout="row">
        <div class="md-list-item-text">
        <p><b>{{'GENDER' | translate}}</b></p>
        </div>
        <span flex></span>
        <div style="right:0px" class="md-list-item-text">
        <p>{{gendertext}}</p>
        </div>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item  layout="row">
        <div class="md-list-item-text">
        <p><b>{{'CREATED' | translate}}</b></p>
        </div>
        <span flex></span>
        <div style="right:0px" class="md-list-item-text">
        <p>{{created}}</p>
        </div>
      </md-list-item>
      <md-list-item  layout="row">
        <div class="md-list-item-text">
        <p><b>{{'MODIFIED' | translate}}</b></p>
        </div>
        <span flex></span>
        <div style="right:0px" class="md-list-item-text">
        <p>{{modified}}</p>
        </div>
      </md-list-item>
      <md-list-item  layout="row">
        <div class="md-list-item-text">
        <p><b>{{'TERMS_OF_USE_VERSION' | translate}}</b></p>
        </div>
        <span flex></span>
        <div style="right:0px" class="md-list-item-text">
        <p>{{termsOfUseVersion}}</p>
        </div>
      </md-list-item>
      <md-divider ></md-divider>
      <h2>{{'BADGES' | translate}}</h2>
      <md-list-item ng-if="badgesTrue" ng-repeat='item in badges'>
        <img class="md-avatar" src={{item.url}}></img>
        <div class="md-list-item-text" layout="column">
        <p>{{item.title}}</p>
      </div>
      </md-list-item>
      <p ng-if="!badgesTrue">{{'NO_BADGES' | translate}}</p>

  </md-card-content>
  </md-card>
  <md-card class="card card-4-50" style="min-width:70%">
    <md-toolbar  style="color:black;background-color:white">
      <div class="md-toolbar-tools">
        <h3 style="color:rgba(0,0,0,0.5)">
          <span>{{'EDIT_INFO' | translate}}</span>
        </h3>
      </div>
    </md-toolbar>
    <md-card-content >
      <div layout="column" layout-padding ng-cloak>
        <md-input-container class="md-icon-float md-block">
          <input ng-model="emailId" type="text" ng-required="true" placeholder="Email">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <input ng-model="firstName" type="text" data-placeholder="{{'FIRST_NAME' | translate}}">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <input ng-model="lastName" type="text" data-placeholder="{{'LAST_NAME' | translate}}">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <input ng-model="country" type="text" data-placeholder="{{'COUNTRY' | translate}}">
        </md-input-container>
       <!-- <md-input-container class="md-icon-float md-block">
          <input ng-model="birthday" type="text" placeholder="Birthday (2000-12-31)" > -->
        </md-input-container>
        <span>{{'DOB' | translate}}
            <md-datepicker ng-model="dateBirthdayPicker" md-placeholder="{{'ENTER_DATE' | translate}}"></md-datepicker>
        </span>
        <md-select md-theme="blue" ng-model="gender" data-placeholder="{{'GENDER' | translate}}" >
              <md-option value="m">Male</md-option>
              <md-option value="f">Female</md-option>
          </md-select>
          <md-select md-theme="blue" ng-model="lang" data-placeholder="{{'LANGUAGE' | translate}}" >
                <md-option value="en">English</md-option>
                <md-option value="de">German</md-option>
            </md-select>
        <h3 style="color:rgba(0,0,0,0.5)">
          <span>{{'PASSWORD_TIP' | translate}}
          </span>
        </h3>
        <md-input-container class="md-icon-float md-block">
          <input ng-model="oldpassword" type="password" ng-change="passwordentered(0)" ng-required="ifpassword" data-placeholder="{{'OLD_PASSWORD' | translate}}">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <input ng-model="newpassword" type="password" ng-change="passwordentered(1)" ng-required="ifpassword" data-placeholder="{{'NEW_PASSWORD' | translate}}" >
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <input ng-model="newpasswordrepeat" type="password" ng-change="passwordentered(2)" ng-required="ifpassword" data-placeholder="{{'NEW_PASSWORD_R' | translate}}" >
        </md-input-container>
        <div ng-if="submissionSuccess" style="background-color:rgba(185,217,137,0.9);">
          <p>{{'SUBMISSION_SUCCESS' | translate}}</p>
        </div>
        <div ng-if="submissionFailure" style="background-color:rgba(255, 59, 41, 0.4)">
        <p>{{submissionErrorMessage}}</p>
      </div>
        <md-button class="green-bg" ng-click="updateUserDetails()" style="width:150px">{{'UPDATE_PROFILE' | translate}}</md-button>
    </div>

  </md-card-content>
  </md-card>
</div>
</div>
