<div ng-controller="SegmentIndependentController" class="mapcontainer" style="height:100%">
                        <div style="  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
position:absolute;z-index:1;width:22%;right:0;height:100%;background-color:rgba(255,255,255,0.85)">
                                <div style="text-align:center">
                                    <h3>Control Panel</h3>
                                </div>
                                <div style="text-align:center;padding-left:2%;padding-right:2%">
                                    <p style="font-size:16px">Click on map to place a marker at that point, click on it again to delete it.</p>
                                </div>
                                 <div layout-gt-xs="column" layout="center center" >
                                    <div style="width:100%;text-align:center">
                                        <md-button class="white-bg" ng-click="resetPoints()">Reset points</md-button>    
                                    </div>

                                    <div style="width:100%;text-align:center">
                                        <md-progress-circular ng-if="!notSearching" class="loader_dashboard" ng-if="!onload_user_vs_public" md-diameter="50"></md-progress-circular>
                                        <md-button  ng-if="notSearching" class="white-bg" ng-click="searchForPoints()">Search for tracks</md-button>
                                    </div>
                                 </div>
                                 <div style="padding-left:2%;padding-right:2%">
                                <rzslider rz-slider-model="$root.slider.value"
                                            rz-slider-options="$root.slider.options"></rzslider>
                                      </div>

                </div>

            <leaflet lf-center="center" id="segmentMap" markers="$root.markers" paths="$root.paths" event-broadcast="events" width="100%" height="100%"></leaflet>
</div>
<!-- 
    <div layout-gt-md="row">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" md-theme-watch>
        <md-card-content class="nopadding">
        <div>
        </div>
        <div layout-gt-xs="row" style="padding-top:6px">
            <div style="width:50%;text-align:center">
                <md-button class="white-bg" ng-click="resetPoints()">Reset points</md-button>    
            </div>
            <div style="width:50%;text-align:center">
                <md-button class="white-bg" ng-click="searchForPoints()">Search for tracks</md-button>
            </div>
        </div>
        <div style="padding-left:3%;padding-right:3%;layout="row" layout-align="center center">
            <p>You can selelct upto a maximum of 10 points and also set a threshold using the slider.Information of all tracks of every user that falls in this location will be dislayed if any is found for the region you have chosen</p>
        </div>
        </md-card-content>
        </md-card>
       <!-- <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" style="height:480px" md-theme-watch>
            <md-card-content>
                <div layout="row" layout-align="center center">
                    <p>Click on map to place a marker at that point, click on it again to delete it.</p>
                </div>
            </md-card-content>
        </md-card> 
    </div>
</div>
-->