<div ng-controller="SegmentIndependentController" class="mapcontainer" style="height:100%">
                       <tour step="currentStep">
                            <div style="box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
position:absolute;z-index:1;width:22%;right:0;height:100%;background-color:rgba(255,255,255,0.85)">
                                <div style="text-align:center">
                                    <h3>{{'CONTROL_PANEL' | translate}}</h3>
                                </div>
                                <div style="text-align:center;padding-left:2%;padding-right:2%">
                                    <p style="font-size:16px">{{'SEGMENT_INFO' | translate}}</p>
                                </div>
                                 <div layout-gt-xs="column" layout="center center" >
                                    <div style="width:100%;text-align:center">
                                      <!--  <md-button class="white-bg" ng-click="resetPoints()">{{'RESET_POINTS' | translate}}</md-button>    -->
                                    </div>

                                    <div style="width:100%;text-align:center">
                                        <md-progress-circular ng-if="!notSearching" class="loader_dashboard" ng-if="!onload_user_vs_public" md-diameter="50"></md-progress-circular>
                                        <md-button tourtip="{{'TOURTIP2' | translate}}" tourtip-placement="left" tourtip-step="1" ng-if="notSearching" class="white-bg" ng-click="searchForPoints()">{{'SEARCH_TRACKS' | translate}}</md-button>
                                    </div>
                                 </div>
                                 <div style="padding-left:2%;padding-right:2%" tourtip="{{'TOURTIP5' | translate}}" tourtip-placement="left" tourtip-step="4" tourtip-next-label="Get Started!">
                                <rzslider rz-slider-model="$root.slider.value"
                                            rz-slider-options="$root.slider.options"></rzslider>
                                      </div>
                                      <div ng-if="statisticsPresent">
                                          <div layout="center" layout="start start" layout-padding ng-cloak>
                                            <md-select layout-align="center center" style="width:90%" ng-model="selectModel">
                                                <md-option ng-model="s.ind" ng-repeat="(i,s) in segments" ng-selected="i == 0 ? true:false" ng-click="segmentChanged(s.ind)" ng-value="s.ind">{{s.value}}</md-option>
                                            </md-select>
                                            <md-select layout-align="center center" style="width:90%" ng-model="selectedPhenom">
                                                <md-option ng-model="s" ng-repeat="(i,s) in keys" ng-click="phenomChanged(s)" ng-selected="s == 'Speed' ? true:false" ng-value="s">{{s}}</md-option>
                                            </md-select>
                                          </div>
                                          <nvd3 options="options" data="data"></nvd3>
                                          <div style="text-align:center;padding-left:2%;padding-right:2%">
                                          <span>{{'COUNT_POINTS' | translate}} - {{pointsCount}}</span>
                                </div>
                                          </div>

                </div>
                <div tourtip="{{'TOURTIP1' | translate}}" tourtip-placement="right" tourtip-margin="0" tourtip-step="0" tourtip-element=".leaflet-draw-draw-polyline" style="height:100%;width:100%">
                  <span tourtip="{{'TOURTIP3' | translate}}" tourtip-placement="right" tourtip-step="2" tourtip-element=".leaflet-draw-edit-edit"></span>
                    <span tourtip="{{'TOURTIP4' | translate}}" tourtip-placement="right"  tourtip-step="3" tourtip-element=".leaflet-draw-edit-edit"></span>
                    <leaflet lf-center="map.center" paths="paths" lf-draw="map.drawOptions" height="100%" width="100%">  </leaflet>
                </div>
</tour>

           <!-- <leaflet lf-center="center" id="segmentMap" markers="$root.markers" paths="$root.paths" event-broadcast="events" width="100%" height="100%"></leaflet> -->
</div>
<!-- 
    <div layout-gt-md="row">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" md-theme-watch>
        <md-card-content class="nopadding">
        <div>
        </div>
        <div layout-gt-xs="row" style="padding-top:6px">
            <div style="width:50%;text-align:center">
                <md-button class="white-bg" ng-click="resetPoints()">Reset points</md-button>    
            </div>
            <div style="width:50%;text-align:center">
                <md-button class="white-bg" ng-click="searchForPoints()">Search for tracks</md-button>
            </div>
        </div>
        <div style="padding-left:3%;padding-right:3%;layout="row" layout-align="center center">
            <p>You can selelct upto a maximum of 10 points and also set a threshold using the slider.Information of all tracks of every user that falls in this location will be dislayed if any is found for the region you have chosen</p>
        </div>
        </md-card-content>
        </md-card>
       <!-- <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" style="height:480px" md-theme-watch>
            <md-card-content>
                <div layout="row" layout-align="center center">
                    <p>Click on map to place a marker at that point, click on it again to delete it.</p>
                </div>
            </md-card-content>
        </md-card> 
    </div>
</div>
-->