<md-tabs md-dynamic-height md-dynamic-width md-border-bottom>
    <md-tab label="{{'CALENDAR_OF_TRACKS_TAB' | translate}}">
<div class="middle">
      <div ng-controller="CalendarController" layout-gt-xs="row">
        <md-card  style="height:700px" flex md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" md-theme-watch>
            <md-card-content class="nopadding" >
              <md-progress-circular style="top:100px"class="loader_dashboard2" ng-if="onload" md-diameter="156"></md-progress-circular>

              <md-content ng-show="!onload">
              <div >
                <calendar-md md-theme="blue" flex layout layout-fill
                calendar-direction="direction"
                on-prev-month="prevMonth"
                on-next-month="nextMonth"
                on-day-click="dayClick"
                title-format="'MMMM y'"
                ng-model='selectedDate'
                day-format="'d'"
                tooltips="tooltips"
                day-label-format="'EEE'"
                day-label-tooltip-format="'EEEE'"
                day-tooltip-format="'fullDate'"
                week-starts-on="firstDayOfWeek"
                disable-future-selection="true"
                data-start-month="{{start_month}}"
                data-start-year="{{start_year}}"
                day-content="setDayContent"
                ></calendar-md>
              </div>
              <div style="width:100%">
                <md-button ng-click="buttonClickCurrentDate()">Go to current date</md-button>
                <div style="width:100%;text-align:center">
                  <h3 style="color:rgba(0,0,0,0.7)">Monthly Overview</h3>
                </div>
              </div>
              <div layout-gt-xs="row" ng-if="!nostatistics">
                <div style="width:33.33%;text-align:center">
                  <h3 style="color:#0065A0">{{total_time}}</h3>
                  <p style="font-size:13px;">{{'DURATION' | translate}}</p>
                </div>
                <div style="width:33.33%;text-align:center">
                  <h3 style="color:#0065A0">{{total_distance}} Km</h3>
                  <p style="font-size:13px;">{{'DISTANCE' | translate}}</p>
                </div>
                <div style="width:33.33%;text-align:center">
                  <h3 style="color:#0065A0">{{total_tracks}}</h3>
                  <p style="font-size:13px;">Tracks</p>
                </div>

              </div>
              <div layout-gt-xs="row" ng-if="nostatistics">
                <div style="width:100%;text-align:center">
                  <p>No Statistics to show for this month</p>
                </div>
              </div>
            </md-content>
            </md-card-content>

        </md-card>
        <md-card md-theme="default" class="card card-4-50" flex md-theme-watch>

          <div style="height:100%" layout="row">
          <md-card-content flex>

            <md-content>
                    <md-list-item ng-show="no_data" md-theme="default" md-ink-ripple="#0065A0" class="md-3-line md-long-text " ng-repeat='event in tracks'  ng-click="showAdvanced($event,event.id)">
                      <img class="md-avatar" src={{event.url}} style="width:80px;height:80px"></img>
                    <div class="md-list-item-text" layout="column">
                    <h3><b>{{event.begin}}</b></h3>
                    <p>Vehicle - {{event.car}}</p>
                    <p>Distance - {{event.length}} Km</p>
                       <md-icon class="md-secondary material-icons" ng-click="goToActivity(event.id)" >multiline_chart</md-icon>
                  </div>
                  </md-list-item>
                  <div layout="row" ng-show="!no_data" layout-align="center center">
                    <p>Select days that have the track icon to explore</p>
                  </div>
                </md-content>

              </md-card-content>
            </div>
      </md-card>
      </div>
    </div>
    </md-tab>
    <md-tab label="{{'ALL_TRACKS_TAB' | translate}}">
      <div class="middle">
      <div layout-gt-md="row">

  <md-card md-theme-watch flex>
    <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" md-scroll-shrink ng-if="true">
      <div class="md-toolbar-tools">
        <h3>
          <span>{{'TRACKS_LIST' | translate}}</span>
        </h3>
      </div>
    </md-toolbar>
    <md-card-content>
    <md-content flex>
      <md-list ng-controller="TrackListCtrl">
        <md-list-item class="md-3-line md-long-text" aria-label="single charts view" ng-repeat="track in results.tracks" ng-click="showAdvanced($event,track.id)">
          <div class="md-list-item-text" >
            <h3><b>{{track.begin}}</b></h3>
            <h4>Vehicle - {{track.sensor.properties.model}}</h4>
            <p>Distance - {{track.length}} Km</p>
            <md-icon class="md-secondary material-icons" ng-click="goToActivity(track.id)" >multiline_chart</md-icon>
          </div>
        </md-list-item>
      </md-list>

      <div ng-controller="PagingCtrl" layout="row" layout-align="center end" class="paging" ng-show="showPaging();">
        <md-button aria-label="previous" ng-click="previousPage();" ng-disabled="hasNoPreviousPage();">
          <i class="material-icons">keyboard_arrow_left</i>
        </md-button>
        <md-button ng-repeat="page in pages" style="text-color:white" ng-click="jumpToPage(page);" ng-class="{'md-raised md-primary': page === selectedPage}">
          {{page}}
        </md-button>
        <md-button aria-label="next" ng-click="nextPage();" ng-disabled="hasNoNextPage();">
          <i class="material-icons">keyboard_arrow_right</i>
        </md-button>
      </div>
    </md-content>
  </md-card-content>
</md-card>

</div>
</div>
</md-tab>
<md-tab label="{{'ALL_TRACKS_TAB' | translate}}">
    <div class="middle">
      <div layout-gt-md="row" style="text-align:center">
        <md-card ng-controller="filterTracksController" style="max-height:600px;width:60%;display: table;margin-right: auto;margin-left: auto;" md-theme-watch >
          <!-- <md-toolbar style="color:blac;background-color:white" >
            <div class="md-toolbar-tools">

              <md-select style="color:white;width:15%" ng-model="widgetType2" >
                  <md-option ng-model="d" ng-value="d" ng-click="selecteditemchanged(d)" data-ng-repeat="d in piechartoptions">{{d}}</md-option>
          </md-select>
          <span flex></span>



            </div>

          </md-toolbar> -->
          <md-toolbar style="color:black;background-color:rgba(185,217,137,1)" md-theme="default" ng-show="!showSearch">
  <div class="md-toolbar-tools">
    <p>Order by - </p>
    <p>&nbsp</p>
    <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
      <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
    <md-select ng-model="filterSelected">
        <md-option ng-model="filterSelected" ng-value="d" ng-click="changeFilter(d)" ng-selected="Modified" data-ng-repeat="d in filterOptions">{{d}}</md-option>
</md-select>
    <span flex></span>
    <md-button aria-label="Search" ng-click="showSearch = !showSearch">
<i class="material-icons md-36">search</i>
    </md-button>
  </div>
</md-toolbar>
<md-toolbar style="color:black;background-color:white" ng-show="showSearch">
  <div class="md-toolbar-tools">
    <md-button ng-click="showSearch = !showSearch" aria-label="Back">
<i class="material-icons md-36">keyboard_arrow_left</i>
    </md-button>
    <md-input-container md-theme="input" style="padding-top:30px" flex>
      <label>black</label>
      <input ng-model="search" placeholder="enter search">
    </md-input-container>
    <md-button aria-label="Search" ng-click="showSearch = !showSearch">
      <i class="material-icons md-36">search</i>
    </md-button>
  </div>

</md-toolbar>
          <md-card-content ng-controller="filterTracksController" >
            <!-- Date filter. -->
            <!-- Distance Filter -->
            <div style="width:100%" layout="column" layout-align="center center">
            <p>Search track by date</p>
            <div layout="column" layout-align="center center" style="width:100%">
            <md-select ng-model="dateCustom" style="width:80%">
              <md-option ng-model="dateCustom" ng-click="defaultDatesAll()" selected>All Days</md-option>
              <md-option  ng-model="dateCustom" ng-click="defaultDatesCustom()">Custom</md-option>
            </md-select>
            <div layout="row" layout-align="center center">
            <br ng-show="dateCustomShow"></br>
            <md-datepicker style="padding-bottom:5%" ng-change="startDateChange()" ng-show="dateCustomShow" ng-model="dateStartCustom" md-placeholder="Start date"></md-datepicker>
            <md-datepicker style="padding-bottom:5%" ng-change="endDateChange()" ng-show="dateCustomShow" ng-model="dateEndCustom" md-placeholder="End date"></md-datepicker>
          </div>
          </div>
        </div>
        <div style="width:100%" class="borderdiv" layout="column" layout-align="center center">
          <p>Search track by length</p>
          <div layout="column" layout-align="center center" style="width:100%">
            <md-select ng-model="distanceCustom" style="width:80%">
              <md-option ng-model="distanceCustom" ng-click="defaultDistanceAll()" selected>All lengths</md-option>
              <md-option ng-model="distanceCustom" ng-click="defaultDistanceCustom()">Custom</md-option>
            </md-select>
            <div layout="row" layout-align="center center">
            <span>&nbsp&nbsp&nbsp</span>
            <md-input-container style="padding-top:0.35%" ng-show="distanceCustomShow">
                <input type="number" ng-model="minDistanceFilter" placeholder="Longer than(Km)" style="width:50%">
            </md-input-container>
            <span>&nbsp&nbsp&nbsp</span>
            <md-input-container style="padding-top:0.35%" ng-show="distanceCustomShow" >
                <input type="number" ng-model="maxDistanceFilter" placeholder="Shorter than(Km)" style="width:50%">
            </md-input-container>
          </div>
        </div>
      </div>
      <md-button md-theme="blue" class="white-bg" ng-show="submitButtonShow" ng-click="submitButtonAction()">Search</md-button>
      <p style="font-size:17px">Showing {{(tracks|filter:search | filter:distanceFilter | filter:dateFilter).length}} of {{tracks.length}} tracks</p>

            <md-content style="max-height:570px" >

              <md-list>
                    <md-list-item class="md-3-line md-long-text" ng-repeat="item in tracks | filter:search | orderBy:filterOrig | filter:dateFilter | filter:distanceFilter" ng-click="showAdvanced($event,item.TrackId)">
                      <div class="md-list-item-text" layout="column">
                          <h3><b>{{item.Start | date:'medium'}}</b></h3>
                          <p>{{item.Vehicle}} - {{item.Distance}} Km</p>
                          <p>{{item.DurationString}}</p>
                          <md-icon class="md-secondary material-icons" ng-click="goToActivity(track.id)" >multiline_chart</md-icon>
                        </div>
                    <!--    <div class="md-list-item-text" >
                          <h3><b>{{track.begin}}</b></h3>
                          <h4>Vehicle - {{track.sensor.properties.model}}</h4>
                          <p>Distance - {{track.length}} Km</p>
                        </div>
                      </div> -->

                    </md-list-item>
                  </md-list>

            </md-content>
          </md-card-content>
          </md-card>
      </div>
    </div>
</md-tab>
  </md-tabs>
