<md-tabs md-dynamic-height md-dynamic-width md-border-bottom>
    <md-tab label="Calendar of Tracks">
      <div ng-controller="CalendarController" layout-gt-md="row">
        <md-card flex md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" md-theme-watch>

            <md-card-content class="nopadding" flex>

              <div >
                <calendar-md md-theme="blue" flex layout layout-fill
                calendar-direction="direction"
                on-prev-month="prevMonth"
                on-next-month="nextMonth"
                on-day-click="dayClick"
                title-format="'MMMM y'"
                ng-model='selectedDate'
                day-format="'d'"
                tooltips="tooltips"
                day-label-format="'EEE'"
                day-label-tooltip-format="'EEEE'"
                day-tooltip-format="'fullDate'"
                week-starts-on="firstDayOfWeek"
                disable-future-selection="true"
                day-content="setDayContent"
                ></calendar-md>
              </div>
            </md-card-content>

        </md-card>
        <md-card md-theme="default" class="card card-4-50" flex md-theme-watch>
          <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" md-scroll-shrink ng-if="true">
            <div class="md-toolbar-tools">
              <h3>
                <span>{{ 'TITLE_TRACKS' | translate}}</span>
              </h3>
            </div>
          </md-toolbar>
          <div style="height:100%" layout="row">
          <md-card-content flex>

            <md-content>
                    <md-list-item ng-show="no_data" md-theme="default" md-ink-ripple="#0065A0" class="md-3-line md-long-text " ng-repeat='event in tracks'  ng-click="showAdvanced($event,event.id)">
                      <img class="md-avatar" src={{event.url}} style="width:80px;height:80px"></img>
                    <div class="md-list-item-text" layout="column">
                    <h3><b>{{event.begin}}</b></h3>
                    <h4>{{event.name}}</h4>
                    <p>Distance - {{event.length}} Km</p>
                       <md-icon class="md-secondary material-icons" ng-click="goToActivity(event.id)" >multiline_chart</md-icon>
                  </div>
                  </md-list-item>
                  <div layout="row" ng-show="!no_data" layout-align="center center">
                    <p>Select days that have the track icon to explore</p>
                  </div>
                </md-content>

              </md-card-content>
            </div>
      </md-card>
      </div>
    </md-tab>
    <md-tab label="All Tracks">
      <div layout-gt-md="row">

  <md-card md-theme-watch flex>
    <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" md-scroll-shrink ng-if="true">
      <div class="md-toolbar-tools">
        <h3>
          <span>Tracks List</span>
        </h3>
      </div>
    </md-toolbar>
    <md-card-content>
    <md-content flex>
      <md-list ng-controller="TrackListCtrl">
        <md-list-item class="md-3-line md-long-text md-whiteframe-3dp" aria-label="single charts view" ng-repeat="track in results.tracks" ng-click="showAdvanced($event,track.id)">
          <div class="md-list-item-text" >
            <h3><b>{{track.begin}}</b></h3>
            <h4>{{track.name}}</h4>
            <p>Distance - {{track.length}} Km</p>
            <md-icon class="md-secondary material-icons" ng-click="goToActivity(event.id)" >multiline_chart</md-icon>

          </div>
        </md-list-item>
      </md-list>

      <div ng-controller="PagingCtrl" layout="row" layout-align="center end" class="paging" ng-show="showPaging();">
        <md-button aria-label="previous" ng-click="previousPage();" ng-disabled="hasNoPreviousPage();">
          <i class="material-icons">keyboard_arrow_left</i>
        </md-button>
        <md-button ng-repeat="page in pages" ng-click="jumpToPage(page);" ng-class="{'md-raised md-primary': page === selectedPage}">
          {{page}}
        </md-button>
        <md-button aria-label="next" ng-click="nextPage();" ng-disabled="hasNoNextPage();">
          <i class="material-icons">keyboard_arrow_right</i>
        </md-button>
      </div>
    </md-content>
  </md-card-content>
</md-card>
<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
  <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">
      <h3>
        <span>Track Preview</span>
      </h3>
    </div>
  </md-toolbar>
  <md-card-content style="min-width:510px;max-width:520px" layout-align="center center">
    <div class="popover" ng-controller="ImagePreviewController" ng-show="popoverIsVisible2" >
      <img src={{url}} style="width:500px;height:450px"></img>
    </div>
    <div layout="row" ng-show="!popoverIsVisible2" layout-align="center center" style="height:400px">
      <p>Hover over a Track to preview</p>
    </div>
</md-card-content>

</md-card>
</div>

</md-tab>
  </md-tabs>
