<md-dialog style="width:50%;height:50%;z-index:10000000" aria-label="Mango (Fruit)" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 style="color:rgba(255,255,255,0.8)">Statistics</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <img style="height:30px;width:30px" src="assets/images/ic_close_white_48dp.png"></img>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="height:100%;width:100%">
              <div layout="column" layout-padding ng-cloak>
                <md-input-container layout-align="center center">
                  <md-select layout-align="center center" style="width:30%" ng-model="selectModel1">
                     <md-option ng-model="s.ind" ng-repeat="s in segments" ng-value="s.ind">{{s.value}}</md-option>
                  </md-select>
                                  </md-input-container>
                  
              </div>
    </md-dialog-content>
    <md-dialog-actions >
        <md-button ng-click="hide()" class="md-primary">
        Continue
          </md-button>
         </md-dialog-actions>
  </form>
</md-dialog>