<div layout="row" ng-app="app" layout-fill>
<div layout-gt-md="row">
  <md-card  class="card card-4-50-new" md-theme-watch style="min-width:600px;min-height:700px;max-width:611px">
    <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" md-scroll-shrink ng-if="true">
      <div class="md-toolbar-tools">
        <h3>
          <span>Tracks List</span>
        </h3>
      </div>
    </md-toolbar>
    <md-card-content>
    <md-content flex>
      <md-list ng-controller="TrackListCtrl">
        <md-list-item ng-mouseenter="showPopOver(track.id)" ng-mouseleave="hidePopOver()" class="md-3-line md-long-text md-whiteframe-3dp" aria-label="single charts view" ng-repeat="track in results.tracks" ng-href="#/dashboard/chart/{{track.id}}">
          <div class="md-list-item-text" >
            <h3>{{track.id}}</h3>
            <div class="md-caption">{{track.name}}</div>
            <div ng-if="!item.highlight.datasetTitle[0]">{{track.modified}}</div>
          </div>
        </md-list-item>
      </md-list>

      <div ng-controller="PagingCtrl" layout="row" layout-align="center end" class="paging" ng-show="showPaging();">
        <md-button aria-label="previous" ng-click="previousPage();" ng-disabled="hasNoPreviousPage();">
          <i class="material-icons">keyboard_arrow_left</i>
        </md-button>
        <md-button ng-repeat="page in pages" ng-click="jumpToPage(page);" ng-class="{'md-raised md-primary': page === selectedPage}">
          {{page}}
        </md-button>
        <md-button aria-label="next" ng-click="nextPage();" ng-disabled="hasNoNextPage();">
          <i class="material-icons">keyboard_arrow_right</i>
        </md-button>
      </div>
    </md-content>
  </md-card-content>
</md-card>
<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-50" style="height:550px;max-width:540px" md-theme-watch>
  <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2" md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">
      <h3>
        <span>Track Preview</span>
      </h3>
    </div>
  </md-toolbar>
  <md-card-content style="min-width:510px;max-width:520px" layout-align="center center">
    <div class="popover" ng-controller="ImagePreviewController" ng-show="popoverIsVisible2" >
      <img src={{url}} style="width:500px;height:450px"></img>
    </div>
    <div layout="row" ng-show="!popoverIsVisible2" layout-align="center center" style="height:400px">
      <p>Hover over a Track to preview</p>
    </div>
</md-card-content>

</md-card>


</div>
</div>



<!-- RESIDUAL CODE FROM THE EARLIER TRACKS.HTML

<div ng-controller="TracksController">
<div layout-gt-md="row">
  <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="card card-4-flex" md-theme-watch>
    <md-card-title-text>
      <br>
            <span class="md-subhead">You Vs Public</span>
          </md-card-title-text>
    <md-card-title-media>


      <div role="main" class="container theme-showcase">
           <div>
             <div class="table-responsive-vertical ">
                 <div class="bs-component">
                     <table ng-show="show == true" class="table table-striped table-hover">
                         <thead>
                             <tr>
                                 <th>Track Id</th>
                                 <th>Last Modified</th>
                                 <th>Track Name</th>
                             </tr>
                         </thead>
                         <tbody ng-show="show == true">
                             <tr ng-show="trackslist.length <= 0"><td colspan="5" style="text-align:center;">Loading new data!!</td></tr>
                             <tr ng-hide="trackslist.length <= 0" dir-paginate="user in trackslist|itemsPerPage:itemsPerPage" total-items="total_count">
                                 <td><a href={{user.urlredirect}}>{{user.id}}</a></td>
                                 <td>{{user.modified}}</td>
                                 <td>{{user.name}}</td>
                             </tr>
                         </tbody>
                     </table>
                     <dir-pagination-controls
                        max-size="8"
                        direction-links="true"
                        boundary-links="true"
                        on-page-change="getData(newPageNumber)" >
                     </dir-pagination-controls>
                 </div>
             </div>
           </div>
         </div>
  </md-card-title-media>

  </md-card>
</div>
</div>
-->
