<md-dialog style="width:320px" aria-label="Mango (Fruit)" ng-cloak>
  <form>
  
    <md-dialog-content >
        <div style="text-align:center">
              <p>We could not find any track statistics in the selected region, You could try increasing the search region by using the slider in the panel</p>
        </div>
    </md-dialog-content>
    <md-dialog-actions style="padding-top:2%">
        <md-button ng-click="hide()" class="md-primary">
        Continue
          </md-button>
         </md-dialog-actions>
  </form>
</md-dialog>